.container{
display: flex;
align-items: center;
justify-content: center;
}
.heading {
  margin-top: 20px;
  text-align: center;
}
button{
  background-color: blueviolet;
}
.heading button{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: antiquewhite;
}
h3{
  text-decoration: underline;
}
p{
  padding: 2px 0;
  background-color: rgba(20, 20,255, 0.2);
}
.bottom button{
  margin-top: 20px;
   margin-right: 30px;
}
.otp-input {
  border-top: 2px;
  border-right: 2px;
  border-left: 2px;
  text-align: center;
  background-color:rgba(0, 0,0, 0.2);
  margin: 10px;
  width: 30px;
  height: 30px;
}